<h2>Create new movie entry</h2>

 <!-- 
<form method="POST" action="/movies/create">
<div class="mb-3">
    <label class="form-label" >Title</label>
    <input class="form-control" value="{{movies.title}}" type="text" name="title">
    <br>
    <label class="form-label" >Genre</label>
    <input class="form-control" value="{{movies.genre}}" type="string" name="genre">
    <br>
    <label class="form-label" >Plot</label>
    <input class="form-control" value="{{movies.plot}}" type="string" name="plot">
    <br>
  
<label for="cast">Choose the cast:</label>
<select name="cast" id="cast" multiple>
  {{#each celebrities}}
  <option value={{this._id}}>{{this.celebrities.name}}</option>
  {{/each}}
</select>


    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
-->